@charset "ISO-8859-1";
body
{
	font-family: Tahoma , Geneva, sans-serif;;
	color: #fff;
	background: url(re.jpg);
	background-size: cover;
}
.signup
{
	background: rgba(44,62,80,0.7);
	padding: 40px;
	width: 250px;
	margin: auto;
	margin-top: 100px;
	height: 480px;
	margin-left: 620px;
}
form
{
	width: 240px;
	text-align:center;
}